@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header-Class{
    background-color: #131921;
    
}

.headerContainer-1{
    width: 100%;
    height: 60px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 9999;
    background-color: #131921;



}
.amazon-home-logo-anchorTag{
    height: 48px;
    width: 120px;
    display: flex;
    align-items: center;

}
.amazon-home-logo-anchorTag:hover{
    border: 1px solid white;
    border-radius: 2px;
}

.amazon-home-logo{
    height: 30px;
    background-color: black;
    margin-top: 3.5px;
}



.navAddressCont{
    width: 145px;
    height: 48px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}
.navAddressCont:hover{
    border: 1px solid white;
    border-radius: 2px;
}
.mapHomeIcon{
    width: 21px;
    height: 18px;
    padding-top: 11px;
}
.address-name{
    font-size: 11.8px;
    color: rgb(211, 209, 209);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.address-pincode{
    font-size: 13px;
    color: white;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    
}

.searchBar-container{
    width: 595px;
   height: 40px;
   background-color: rgb(237, 181, 78);
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    
}


.nav-item-selector{
    width: 53px;
    background-color: rgb(217, 218, 216);
    border: 0px; 
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: rgb(96, 95, 95);
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    padding-left: 15px;
    font-size: 12.5px;
}
.nav-item-selector:hover{
    background-color: rgb(192, 193, 192);
    color: black;
}

.searchbar{
    width: 495px;
    height: auto;
    border-radius: 0px;
    border: 0px solid white;
    color: rgb(48, 47, 47);
    padding-left: 12px;
    font-family: "Nunito", sans-serif;
    font-size: 15px;

}

.searcbar-lens{
    width: 20px;
    height: 20px;
    margin-right: auto;
    margin-left: -30px;
    margin-top: 10px;
}
.magnifine-search-icon{
    width: 21px;
    height: 21px;
    padding-top: 10px;
    padding-right: 5px;
}

#langSelector{
    width: 40px;
    background-color: #131921;
    color: white;
    border: 0px;
    font-size: 16px;
    font-weight: bolder;
}
.nav-langselect{
    height: 48px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-langselect:hover{
    border: 1px solid white;
    border-radius: 2px;
}
.nav-accounts{
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 800;
}

.nav-right-accounts{
    width: 120px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-right-accounts:hover{
    border: 1px solid white;
    border-radius: 2px;
}


.nav-name{
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 12px;
    font-weight: 700;

}

.name-account-opaque{
    width: 300px;
    height: 300px;
    background-color: red;
    position: absolute;
    top: 50px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden; 
}
.nav-right-accounts:hover + .name-account-opaque{
    opacity: 1;
    visibility: visible;
    z-index: 99999;
}




.nav-right-return{
    width: 70px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-right-return:hover{
    border: 1px solid white;
    border-radius: 2px;
}
.navfont{
    color: white;
    font-family: "Nunito", sans-serif;
}
.nav-returns{
    font-size: 12px;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

.nav-orders{
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 800;

}

.nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    

}
.nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

}
.nav-center{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.cartnavIcon{
    width: 34px;
    height: 34px;
}
.cart{
    width: 75px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cart:hover{
    border: 1px solid white;
    border-radius: 2px;
}
.narcartfont{
    padding-top: 14px;
    font-weight: 800;
    font-size: 15px;
}


/*                       headerContainer-2 */

.headerContainer-2{
    width: 100vw;
    height: 40px;
    background-color: #324053a2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  
    
}

.headerContainer-2-items{
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 14.5px;
    margin-left: 20px;
    font-weight: bold;
    height: 36px;
    display: flex;
    align-items: center;


}

.headerContainer-2-items:hover{
    border: 1px solid white;
    border-radius: 2px;
}


/*                          Hero-section */

.hero-section{
    position: relative;
    width: 1280px;
    height: 535px;
    
    
}




.hero-section-bc-img1{
    width: 1279px;
    height: 535px;
    background-size: cover;
    
}
.hero-section-bc-img{
    width: 1280px;
    height: 535px;
    background-image: url(imgss/hero-section-bc-img4.jpg);
    background-size: 100% 100%;
   animation: changeImg 30s 1s infinite ease-in-out;
}



@keyframes changeImg{
    0%{
        background-image: url(imgss/hero-section-bc-img4.jpg);
        
    }
    12.5%{
        background-image: url(imgss/hero-section-bc-img1.jpg);
       
    }
    25%{
        background-image: url(imgss/hero-section-bc-img10.jpg);
        
    }
    37.5%{
        background-image: url(imgss/hero-section-bc-img5.jpg);
        
    }
    50%{
        background-image: url(imgss/hero-section-bc-img6.jpg);
        
    }
    62.5%{
        background-image: url(imgss/hero-section-bc-img7.jpg);
    }
    75%{
        background-image: url(imgss/hero-section-bc-img8.jpg);
    }
    87.5%{
        background-image: url(imgss/hero-section-bc-img9.jpg);
    }
    100%{
        background-image: url(imgss/hero-section-bc-img1.jpg);
    }
} 



.hero-section-boxes{
    width: 98vw;
    height: 4630px;
    /* background-color: #e3e2e7d4; */
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(18, 1fr);
    gap: 20px;
    
    

}
.hero-section-grid{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 260px;
    background-color: #e3e2e7d4;
    width: 100%;

    
}
.box{
    background-color: white;
}

/*                              grid box 1 */
.box1{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

}

.minibox1-content{

    width: 255px;
    height: 390px;
    margin: 18px;
}
.box1-heading{
    font-size: 22px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
}
.miniboxes-box1{
    width: 100%;
    height: 307px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
    margin-top: 8px;
}
.minibox1-box1-img1{
    width: 127px;
    height: 110px;

}
.minibox-para-s{
    display: flex;
}
.minibox-box1-para1{
    font-size: 12px;
    width: 60px;
    height: 27px;
    background-color: rgb(208, 35, 35);
    font-family: "Nunito", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 2.5px;
}
.minibox-box1-para2{
    font-size: 12px;
    color: rgb(208, 35, 35);
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    width: 60px;
    margin-left: 5px;
}

.minibox1-box1-img2{
    width: 127px;
    height: 110px;

}

.minibox1-box1-img3{
    width: 127px;
    height: 110px;

}

.minibox1-box1-img4{
    width: 127px;
    height: 110px;
}
.box1-anchor-tag{
    color: rgb(10, 103, 140);
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    position: relative;
    top: 15px;
    
    
}
.box1-anchor-tag:hover{
    color: rgb(208, 35, 35);
}

/*                            grid box 2 */



.box2{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

}

.box2-para{
    font-size: 12px;
    font-family: "Nunito", sans-serif;
    color: black;
}
.box2-anchor-tag{
    color: rgb(10, 103, 140);
    font-family: "Nunito", sans-serif;
    font-size: 14px;
  
}
.box2-anchor-tag:hover{
    color: rgb(208, 35, 35);
}
.box3{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;

}

.box4{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    
}
.box5{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    
}
.box6{

    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}
.box7{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}
.box8{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
}

.box9{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 280px;
}

.box10{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 280px;
}

.box11{
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 2;
}

.box12{
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 3;
}

.box13{
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 3;
    grid-column-end: 4;
}

.box14{
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 4;
    grid-column-end: 5;
}

.box15{
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 280px;
}
.box16{
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 280px;
}
.box17{
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 280px;
}
.box18{
    grid-row-start: 12;
    grid-row-end: 14;
    grid-column-start: 1;
    grid-column-end: 2;
}
.box19{
    grid-row-start: 12;
    grid-row-end: 14;
    grid-column-start: 2;
    grid-column-end: 3;
}
.box20{
    grid-row-start: 12;
    grid-row-end: 14;
    grid-column-start: 3;
    grid-column-end: 4;
}
.box21{
    grid-row-start: 12;
    grid-row-end: 14;
    grid-column-start: 4;
    grid-column-end: 5;
}
.box22{
    grid-row-start: 14;
    grid-row-end: 15;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 280px;
}
.box23{
    grid-row-start: 15;
    grid-row-end: 16;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 280px;
}
.box24{
    grid-row-start: 16;
    grid-row-end: 18;
    grid-column-start: 1;
    grid-column-end: 2;
}
.box25{
    grid-row-start: 16;
    grid-row-end: 18;
    grid-column-start: 2;
    grid-column-end: 3;
}
.box26{
    grid-row-start: 16;
    grid-row-end: 18;
    grid-column-start: 3;
    grid-column-end: 4;
}
.box27{
    grid-row-start: 16;
    grid-row-end: 18;
    grid-column-start: 4;
    grid-column-end: 5;
}
.box28{
    grid-row-start: 18;
    grid-row-end: 19;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 280px;
    
}

/*                                  footer */

.footer-container1{
    width: 100vw;
    height: 50px;
    background-color: #324257;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container1:hover{
    background-color: #49596f;
}
.footer-container1-para{
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 13.3px;
    font-weight: 600;
}

.footer-container2{
    width: 100vw;
    height: 465px;
    background-color: #232F3E;
 
}

.foorer-cont2-boxes{
    display: flex;
    justify-content: center;
}

.footer-cont2-1{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    margin-top: 45px;

}

.footer-para{
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 17px;
    font-weight: 800;
}

.footer2-anchorTag{
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 8px;

}
.footer2-anchorTag:hover{
    text-decoration: underline;
}

.footer-cont2-2{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    margin-top: 45px;
}
.footer-cont2-3{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    margin-top: 45px;
}
.footer-cont2-4{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    margin-top: 45px;
}
.footer-cont2-part2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}

.footer-logo{
    width: 80px;
}

.footer-nationality{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 3px;
    width: 100px;
    height: 35px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.india-logo-2{
    width: 23px;
    height: 22px;
}
.india{
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 13px;

}
.footer-globe{
    width: 13px;
    height: 13px;
    padding-left: 20px;
    margin-top: 8px;
}
.footer-langselect-div{
    border: 1px solid white;
    border-radius: 3px;
    width: 120px;
    height: 35px;

}
#footer-langSelector{
    width: 70px;
    background-color: transparent;
    border: none;
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 13px;
    padding-top: 10px;
    padding-left: 3px;


 
}

.footer-lang-nation{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-container3{
    width: 100vw;
    height: 280px;
    background-color: #131921;

}

.footer-cont4-boxes{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 75px 75px;
    justify-content: center;
    padding-top: 30px;

}

.footerboxes{
    color: white;
    font-size: 12px;
    font-family: "Nunito", sans-serif;

}

.footerboxes:hover{
    text-decoration: underline;
}
.footer3-para{
    color: #adadae;
}

.footer3-copyrights{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.copyright-anchor{
    color: white;
    font-size: 12px;
    font-family: "Nunito", sans-serif;
}
.copyright-anchor:hover{
    text-decoration: underline;
}
.copyright2{
    color: white;
    font-size: 12px;
    font-family: "Nunito", sans-serif;
} 

.footer-contant{
    position: absolute;
    top: 4990px;
    
}